# ============================================================
# Configurações de banco de dados
# ============================================================
#
# MariaDB (usar credenciais existentes)
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_HOST=
MARIADB_DATABASE=
MARIADB_ROOT_PASSWORD=
MARIADB_PORT=
