# ============================================================
# Configurações de banco de dados
# ============================================================
#
# MariaDB (usar credenciais existentes)
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_HOST=
MARIADB_DATABASE=
MARIADB_ROOT_PASSWORD=
MARIADB_PORT=

# Airflow local
AIRFLOW_DB_PASSWORD=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_WEBSERVER_SECRET_KEY=
AIRFLOW_FERNET_KEY=
AIRFLOW_UID=50000
